/.gradle/configuration-cache/4d7622f5-9b76-4fea-85ba-b34a2b9d4e13/.globals.work.bin
/.gradle/configuration-cache/5dc3c4b9-678f-4065-bcf3-b93a170b84f0/.globals.work.bin
/.gradle/configuration-cache/ac8c4008-dfda-44b8-b136-adec5c256afd/.globals.work.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/.globals.work.bin
/.gradle/configuration-cache/4d7622f5-9b76-4fea-85ba-b34a2b9d4e13/.strings.work.bin
/.gradle/configuration-cache/5dc3c4b9-678f-4065-bcf3-b93a170b84f0/.strings.work.bin
/.gradle/configuration-cache/ac8c4008-dfda-44b8-b136-adec5c256afd/.strings.work.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/.strings.work.bin
/.gradle/configuration-cache/4d7622f5-9b76-4fea-85ba-b34a2b9d4e13/_.work.bin
/.gradle/configuration-cache/5dc3c4b9-678f-4065-bcf3-b93a170b84f0/_.work.bin
/.gradle/configuration-cache/ac8c4008-dfda-44b8-b136-adec5c256afd/_.work.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/_.work.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/_androidApp.work.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/_desktopApp.work.bin
/.gradle/configuration-cache/4d7622f5-9b76-4fea-85ba-b34a2b9d4e13/_shared.work.bin
/.gradle/configuration-cache/5dc3c4b9-678f-4065-bcf3-b93a170b84f0/_shared.work.bin
/.gradle/configuration-cache/ac8c4008-dfda-44b8-b136-adec5c256afd/_shared.work.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/_shared.work.bin
/.gradle/configuration-cache/4d7622f5-9b76-4fea-85ba-b34a2b9d4e13/_webApp.work.bin
/.gradle/configuration-cache/5dc3c4b9-678f-4065-bcf3-b93a170b84f0/_webApp.work.bin
/.gradle/configuration-cache/ac8c4008-dfda-44b8-b136-adec5c256afd/_webApp.work.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/_webApp.work.bin
/.gradle/configuration-cache/4d7622f5-9b76-4fea-85ba-b34a2b9d4e13/buildfingerprint.bin
/.gradle/configuration-cache/5dc3c4b9-678f-4065-bcf3-b93a170b84f0/buildfingerprint.bin
/.gradle/configuration-cache/ac8c4008-dfda-44b8-b136-adec5c256afd/buildfingerprint.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/buildfingerprint.bin
/.gradle/configuration-cache/4d7622f5-9b76-4fea-85ba-b34a2b9d4e13/classloaderscopes.bin
/.gradle/configuration-cache/5dc3c4b9-678f-4065-bcf3-b93a170b84f0/classloaderscopes.bin
/.gradle/configuration-cache/ac8c4008-dfda-44b8-b136-adec5c256afd/classloaderscopes.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/classloaderscopes.bin
/.gradle/configuration-cache/4d7622f5-9b76-4fea-85ba-b34a2b9d4e13/entry.bin
/.gradle/configuration-cache/5dc3c4b9-678f-4065-bcf3-b93a170b84f0/entry.bin
/.gradle/configuration-cache/ac8c4008-dfda-44b8-b136-adec5c256afd/entry.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/entry.bin
/.gradle/configuration-cache/4d7622f5-9b76-4fea-85ba-b34a2b9d4e13/projectfingerprint.bin
/.gradle/configuration-cache/5dc3c4b9-678f-4065-bcf3-b93a170b84f0/projectfingerprint.bin
/.gradle/configuration-cache/ac8c4008-dfda-44b8-b136-adec5c256afd/projectfingerprint.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/projectfingerprint.bin
/.gradle/configuration-cache/4d7622f5-9b76-4fea-85ba-b34a2b9d4e13/work.bin
/.gradle/configuration-cache/5dc3c4b9-678f-4065-bcf3-b93a170b84f0/work.bin
/.gradle/configuration-cache/ac8c4008-dfda-44b8-b136-adec5c256afd/work.bin
/.gradle/configuration-cache/f56a5088-0872-4491-b3d9-9060c9ef0e09/work.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/.globals.work.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/.strings.work.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/_.work.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/_androidApp.work.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/_desktopApp.work.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/_shared.work.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/_webApp.work.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/buildfingerprint.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/classloaderscopes.bin
/build/reports/configuration-cache/dqkz0kstv7p19o4n2lz64mj0/bgfmrjhjg85x4ucdez78f6t3c/configuration-cache-report.html
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/entry.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/projectfingerprint.bin
/.gradle/configuration-cache/59a37e47-86c9-441a-a712-1a2df41dc54e/work.bin
